body{
    background-color: #56CCF2;
}
section {
    border-radius: 10px;
    color: black;
    background-color: white;
    margin: auto;
}
#menu{
    width: 400px;
    margin: 0 auto 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#div-input-type{
    margin: 10px auto 5px;
}
#numat{
    border:2px solid blue;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
    padding: 5px 5px 10px;
    width: 354px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > div{
        margin-top: 15px;
    }
}
#dist{
    border:2px solid blue;
    padding: 10px;
    width: 274px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: left;
}
#dist,#string{
    height: 304px;
    box-sizing: border-box;
}
.width_full{
    width: 100%;
}
.carga{
    width: 100px;
}
div.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
/* #menu {
    width: auto;
    height: auto;
    padding: 15px;
    width: auto;
    border-radius: 5px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
} */
#string{
    border:2px solid blue;
    border-radius: 5px;
    margin: 0 auto 0px 5px;
    text-align: center;
    padding: 5px 15px;
    width: 340px;
    display: flex;
}
#central{
    text-align: left;
    width: max-content;
    margin: auto;
}
body{
    min-width: 740px;
}
.msg{
    margin: auto;
    text-align: left;
}
div.center{
    text-align: center;
}
.aviso{
    border: 2px solid black;
    text-align: center;
}
#res{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 95%;
    display: none;
}
.res{
    border:2px solid blue;
    border-radius: 5px;
    width: max-content;
    height: 40%;
    padding: 10px;
    margin-left: 10px;
    float: left;
}
.number{
    width: 35px;
}
.atention{
    color: red;
    font-weight: bold;
}
input:invalid{
    border-width:2px;
    outline: 1px solid red;
    outline-offset: -3px;
}
/* Função apagar div*/
.circle{
    width: 18px;
    float:right;
    box-sizing: border-box;
    height: 18px;
    border: 1.5px solid black;
    border-radius: 50%;
    display: flex;
    margin: -8px -8px auto auto;
    user-select: none;
}
.circle:hover{
    background-color: lightgray;
}
.circle img{
    margin: auto;
    width: 10px;
    height: 10px;
}
/*Fim Função apaga div*/
/*Redimensionamento*/
@media only screen and (max-width:1023px){
    #dist{
        grid-area: dist;
        width: 354px;
    }
    #numat{
        grid-area: numat;
    }
    #string{
        grid-area: string;
        height: max-content;
    }
    #dist,#numat,#string{
        margin: auto;
    }
    #menu{
        grid-template-areas: 
        'dist dist numat numat' 
        'string string string string';
    }
}
/*Fim Redicionamento*/